a {
  color: white;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/sakura.png');
}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(/images/placeholder.jpg);
    background-position: center;
    border-radius: 5px;
}

input {
  margin: 10px 0; 
}

.box {
  height: 300px;
  width: 100%;
  padding:0;

  border-radius: 5px;
  border: solid black;

  margin: 10px 0;

  background-color: #FFF;
}

.box-body {
  height: 70%; 
  text-align: center;
}

.box-favorites {
  text-align: center;
  height: 15%;
  font-size: 2em;
}

.box-favorites .col-4 {
  margin: auto auto;
}

.box-favorites .fa {
  text-align: center;
  color: blue;
}

.box-row-title {
  text-align: center;
}

.box-title {
  font-size: 3em;
  margin: auto auto;
}

.btn-danger {

}

.btn:hover {
  cursor: pointer;
}

.delete-button {
  text-align: right;
} 

.favorites-title {
  margin: auto auto;
}

.form-group {
  margin-top: 25px;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.fa:hover {
  cursor: pointer;
}

.input-title {

}

.input-body {
  height:75px;
}

.input-url {

}

.navbar {
  background-color: black;
}
