

<div class="container" ng-controller="moviesController">

  <!-- Add a Movie Form -->
  <form class="row form-group" ng-submit="addMovie()">

    <div class="col-12">
      <input class="form-control input-title" type="text" ng-model="movieTitle" placeholder="Movie Title">
    </div>
    <div class="col-12">
      <textarea class="form-control input-body" type="textarea" ng-model="movieFavoriteLine" placeholder="Favorite Line"></textarea>
    </div>
    <div class="col-12">
      <input class="form-control input-url" type="textarea" ng-model="movieUrl" placeholder="Movie Image Url">
    </div>
    <div class="col-12">
      <button class="btn btn-success fill-width" type="submit">Add Movie</button>
    </div>

  </form>

  <div class="row">
    <div ng-repeat="movie in movies track by $index | orderBy: '-upvotes'" class="col-12">
      <div class="row no-gutters box">
        <div class="col-4 fill-height">
          <img src={{movie.url}} />
        </div>
        <div class="col-8 fill-height">
          <div class="row box-row-title">
            <div class="col-10 box-title">
              {{movie.title}}
            </div>
            <div class="col-2 delete-button">
              <div class="btn btn-danger" ng-click="delete(movie)">X</div>
            </div>
          </div>          
          <div class="row align-items-center box-body">
            <div class="col-10">
              <em>"{{movie.favoriteLine}}"</em>
            </div>
          </div>
          <div class="row box-favorites">
            <div class="col-4 favorites-title"><b>Favorites</b></div>
            <div class="col-4 favorites-title">{{movie.upvotes}}</div>
            <div class="col-4">
              <i class="fa fa-star" aria-hidden="true" ng-click="incrementUpvotes(movie)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

