

<div class="container" ng-controller="quotesController">

  <!-- Add a Quote Form -->
  <form class="row form-group" ng-submit="addQuote()">

    <div class="col-5 col-offset-1">
      <input class="form-control" type="text" ng-model="formContent" placeholder="Quote Title">
    </div>
    <div class="col-5 col-offset-1">
      <input class="form-control" type="text" ng-model="formContent" placeholder="Favorite Line">
    </div>
    <div class="col-12">
      <button class="btn btn-success fill-width" type="submit">Add Quote</button>
    </div>

  </form>

  <div class="row">
    <div ng-repeat="quote in quotes" class="col-10 col-offset-1">
      <div class="row">
        <div class="col-8" style="text-align: left;">
          {{quote.title}} - upvotes: {{quote.upvotes}}
        </div>
        <div class="col-2 glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(quote)"></div>
        <div class="col-2 glyphicon glyphicon-remove" ng-click="delete(quote)"></div>
      </div>
      <hr>
    </div>
  </div>

</div>

