

<div class="container" ng-controller="quotesController">

  <!-- Add a Quote Form -->
  <form class="row form-group" ng-submit="addQuote()">

    <div class="col-12">
      <input class="form-control input-title" type="text" ng-model="quoteTitle" placeholder="Quote Title">
    </div>
    <div class="col-12">
      <textarea class="form-control input-body" type="textarea" ng-model="quoteFavoriteLine" placeholder="Favorite Quote"></textarea>
    </div>
    <div class="col-12">
      <input class="form-control author" type="textarea" ng-model="quoteAuthor" placeholder="Quote By">
    </div>
    <div class="col-12">
      <input class="form-control input-url" type="textarea" ng-model="quoteUrl" placeholder="Quote Image Url">
    </div>
    <div class="col-12">
      <button class="btn btn-success fill-width" type="submit">Add Quote</button>
    </div>

  </form>

  <div class="row">
    <div ng-repeat="quote in quotes | orderBy: '-upvotes'" class="col-12">
      <div class="row no-gutters box">
        <div class="col-4 fill-height">
          <img src={{quote.url}} />
        </div>
        <div class="col-8 fill-height">
          <div class="row box-row-title">
            <div class="col-10 box-title">
              {{quote.title}}
            </div>
            <div class="col-2 delete-button">
              <div class="btn btn-danger" ng-click="delete(quote)">X</div>
            </div>
          </div>          
          <div class="row align-items-center box-body">
            <div class="col-10 offset-1">
              <em>"{{quote.favoriteLine}}"</em>
              <hr>
              <b>{{quote.author}}</b>
            </div>
          </div>
          <div class="row box-favorites">
            <div class="col-4 favorites-title"><b>Favorites</b></div>
            <div class="col-4 favorites-title">{{quote.upvotes}}</div>
            <div class="col-4">
              <i class="fa fa-star" aria-hidden="true" ng-click="incrementUpvotes(quote)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

