

<div class="container" ng-controller="scripturesController">

  <!-- Add a Scripture Form -->
  <form class="row form-group" ng-submit="addScripture()">

    <div class="col-12">
      <input class="form-control input-title" type="text" ng-model="scriptureTitle" placeholder="Scripture Title">
    </div>
    <div class="col-12">
      <textarea class="form-control input-body" type="textarea" ng-model="scriptureFavoriteLine" placeholder="Favorite Scripture"></textarea>
    </div>
    <div class="col-12">
      <input class="form-control input-url" type="textarea" ng-model="scriptureUrl" placeholder="Scripture Image Url">
    </div>
    <div class="col-12">
      <button class="btn btn-success fill-width" type="submit">Add Scripture</button>
    </div>

  </form>

  <div class="row">
    <div ng-repeat="scripture in scriptures track by $index | orderBy: '-upvotes'" class="col-12">
      <div class="row no-gutters box">
        <div class="col-4 fill-height">
          <img src={{scripture.url}} />
        </div>
        <div class="col-8 fill-height">
          <div class="row box-row-title">
            <div class="col-10 box-title">
              {{scripture.title}}
            </div>
            <div class="col-2 delete-button">
              <div class="btn btn-danger" ng-click="delete(scripture)">X</div>
            </div>
          </div>          
          <div class="row align-items-center box-body">
            <div class="col-10">
              <em>"{{scripture.scripture}}"</em>
            </div>
          </div>
          <div class="row box-favorites">
            <div class="col-4 favorites-title"><b>Favorites</b></div>
            <div class="col-4 favorites-title">{{scripture.upvotes}}</div>
            <div class="col-4">
              <i class="fa fa-star" aria-hidden="true" ng-click="incrementUpvotes(scripture)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

